<header class="header">
            <a class="logo" href="#">
                uMediaShare
            </a>
              <nav class="navbar navbar-static-top" role="navigation">
                <a class="navbar-btn sidebar-toggle" role="button" data-toggle="offcanvas" href="#">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </a>


              <div class="navbar-right">
                    <ul class="nav navbar-nav">

                      {{#if application.playlists.length}}
                      <li class="notifications-menu">
                        {{#if application.playlist.currentPlaylist}}
                          {{#link-to 'playlists.playlist' application.playlist.currentPlaylist class="pointer"}}
                           <small>{{application.playlist.currentPlaylistRecord.name}} &raquo;</small>
                          {{/link-to}}
                        {{/if}}
                      </li>
                        <li class="dropdown notifications-menu">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="fa fa-tasks"></i>
                                <span class="label label-default">{{application.playlist.notEmpty.length}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">{{application.playlist.notEmpty.length}} playlists available</li>
                                <li>
                                    <ul class="menu" style="overflow-y: auto; width: 100%; height: 200px;">
                                       {{#each application.playlists as |playlist|}}
                                        {{#if playlist.itemsNum}}
                                            <li class="container" {{action set 'application.playlist.currentPlaylist' playlist.id}}>
                                                <a class="row" href="">
                                                    <i class="pull-left fa fa-tasks {{if playlist.isCurrent 'bg-aqua' 'bg-green'}}"></i>
                                                  <div class="pt-8"><strong>{{playlist.name}}</strong></div>
                                                    <small>{{playlist.itemsNum}} tracks</small>
                                                </a>
                                            </li>
                                          {{/if}}
                                        {{/each}}
                                    </ul>
                                </li>
                                <li class="footer">{{#link-to 'playlists'}}View all{{/link-to}}</li>
                            </ul>
                        </li>
                       {{/if}}


                      {{#if application.devicesOnline}}
                        <li class="dropdown notifications-menu">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="fa fa-refresh"></i>
                                <span class="label label-success">{{application.devicesOnline}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">{{application.devicesOnline}} devices online</li>
                                <li>
                                    <ul class="menu" style="overflow-y: auto; width: 100%; height: 200px;">
                                        {{#each application.devices as |dev|}}
                                          {{#if dev.online}}
                                            <li class="container" {{action set 'application.defaultDevice' dev.id}}>
                                                <a class="row" href="">
                                                    <i class="pull-left fa {{if dev.isDefault 'fa-chain bg-aqua' 'fa-chain bg-green'}}"></i>
                                                  <div class="pt-8"><strong>{{dev.modelName}}</strong></div>
                                                    <small>{{dev.friendlyName}}</small>
                                                    <small>{{dev.modelDescription}}</small>
                                                </a>
                                            </li>
                                          {{/if}}
                                        {{/each}}
                                    </ul>
                                </li>
                                <li class="footer">{{#link-to 'devices'}}View all{{/link-to}}</li>
                            </ul>
                        </li>
                       {{/if}}
                    </ul>
                </div>

                  </nav>
</header>
