<section class="content-header">
<h1>
Media share
<small><i class="fa fa-slideshare"></i> {{application.defaultDeviceRecord.modelName}}</small>
</h1>
</section>


<section class="content share-media">

{{#if renderer.isError}}
  <div class="alert alert-danger alert-dismissable">
      <i class="fa fa-warning"></i>
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
      <p>{{renderer.errorMessage}}</p>
  </div>
{{/if}}


<div class="row">
<div class="col-xs-12">
    <div class="box-body">
      <div class="small-box bg-gray">
            <div class="inner">
                <h3>
                    {{application.defaultDeviceRecord.friendlyName}}
                    {{#if renderer.isLoading}}<small><i class="fa fa-circle-o-notch fa-spin"></i></small>{{/if}}
                </h3>
                <p>
                  {{#if renderer.mediaInfo.TrackURI}}
                   Track : {{renderer.mediaInfo.TrackURI}} <br /><br />

                  <div class="row">
                    <div class="col-xs-2">{{renderer.mediaInfo.RelTime}}</div>
                    <div class="col-xs-8">{{input type="range" min=0 max=trackDuration value=trackRelTime class="col-xs-12" change=seek}}</div>
                    <div class="col-xs-2 text-right">{{renderer.mediaInfo.TrackDuration}}</div>
                  </div>


                  <div class="control-stop pull-right pointer" {{action 'stopMedia'}}>
                    <i class="fa fa-stop-circle-o"></i>
                  </div>
                  {{/if}}
                </p>
            </div>
       </div>
    </div>
</div>
</div>


<div class="box box-success">
  <div class="box-header" style="padding-bottom:0px;">
    <h3 class="box-title"><i class="fa fa-list"></i> Playlist</h3>
 </div>
  <div class="box-body no-padding">
    <table class="table table-condensed">
        <tbody>
{{#each model as |item|}}
<tr>

  <td width=20></td>
  {{#if item.isLocal}}
    <td>{{item.localPath}}</td>
  {{else}}
    <td class="pointer" {{action 'play' item}}>{{item.remotePath}}</td>
  {{/if}}
  <td width=20><span class="btn btn-danger" {{action "removeItem" item}}><i class="fa fa-times"></i></span></td>
</tr>
{{/each}}
    </tbody></table>
</div>
<div class="box-footer">
<div class="col-xs-12 prl-5 input-group">
    {{input type="text" placeholder="New item..." class="form-control" value=shareURL }}
    <div class="input-group-btn">
        <button class="btn btn-success {{if isaddItemDisabled 'disabled'}}"  {{action 'addItem'}}><i class="fa fa-plus"></i></button>
    </div>
</div>
</div>
</div>


</section>
